<!--<div *ngFor="let users of UsersList">
  <img [src]="users.image" alt="">
  <h2>{{ users.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: ${{ product.price }}</p>
</div>-->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="body">

  <div class="containertop">
<!--<button class="go-back">Go Back</button>-->

    <div class="rowtop">
      <div class="top">
        <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
                <div class="d-flex card-header justify-content-between">
                    <h5 class="me-3 mb-0">Top Customers</h5>

                       <!--<a href="#" (click)="showAllUsers = true">View All</a>-->
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                   <!-- <ul class="list-group list-group-flush" *ngFor="let users of UsersList ;let i = index">-->

                        <!--List-item--
                        <li class="list-group-item pt-0" *ngIf="i < 5 || showAllUsers">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="avatar rounded-circle" />

                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">{{ users.name }}</h6>
                                    <p class="mb-0 text-muted">{{ users.email }}</p>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        $927.00
                                    </span>
                                </div>
                            </div>
                        </li>-->

                        <!--List-item-->
                        <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="avatar rounded-circle" />
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">Roua</h6>
                                    <p class="mb-0 text-muted">Mjez</p>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        $916.00
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!--List-item-->
                        <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar rounded-circle" />

                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">Yosr</h6>
                                    <p class="mb-0 text-muted">Tunis</p>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        $896.50
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!--List-item-->
                        <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="avatar rounded-circle" />
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">xxxxx</h6>
                                    <p class="mb-0 text-muted">xxxxx</p>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        $874.50
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!--List-item--
                        <li class="list-group-item pb-0">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="avatar rounded-circle" />
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0">xxxxxxxx</h6>
                                    <p class="mb-0 text-muted">xxxx</p>
                                </div>
                                <div class="flex-shrink-0 text-end">
                                    <span>
                                        $857.50
                                    </span>
                                </div>
                            </div>
                        </li>--->
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>

</div>
