<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="body">
<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>ProductName</h1>
                  <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <br>
                <a routerLink="/profile">user name</a>
            </div>
            <div class="col-md-3 text-right pqr">
                <button type="button" class="btn btn-outline-warning"routerLink="/home" >GoBack</button>
                 <!-- <div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>
                      </li>

                      <li class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                        </svg>
                      </li>
                    </ul>
                  </div>-->

            </div>


            <!--<p class="text-right para">Based on 250 Review</p>-->



        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li></li>
                    <li>aaaaaa</li>
                    <li> Materiels:
                      <div class="mt-1 mb-1 spec-1">
                        <span>100% plastic</span>
                        <span class="dot"></span>
                        <span>Light weight</span>
                        <span class="dot"></span>
                        <span>Best finish<br></span>
                      </div>
                      <div class="mt-1 mb-1 spec-1">
                        <span>Unique design</span>
                        <span class="dot"></span>
                        <span>simple<br></span>
                      </div>
                    </li>
                    <li>12 Months Warranty</li>
                    <li>EMI Starting from (On Credit Cards)</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>
                    <li>COD Available (All Over India)</li>
                </ul>
            </div>
            <div class="col-md-7"> <img src="assets/images/profile2.webp" width="80%" height="85%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a routerLink="/details">Description</a></div>
            <div class="col-md-2 myt "><a routerLink="/comments">Comments</a></div>
          <!---  <div class="col-md-2 mio offset-md-4"><button type="button" class="btn btn-outline-warning"><a href="#">WishList</a></button></div>
            <div class="col-md-2 myt  "><button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button></div>
-->
  <div class="col-md-3 ml-1">
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-outline-warning mr-2" type="submit">Add ToWishList</button>
                <button class="btn btn-outline-warning mr-5" type="button" routerLink="#">BUY NOW</button>
            </div>
        </div>
        </div>

    </div>

</div>
</div>
