<section class="testimonials">
        <div class="heading text-center">
            <h2>What's
                <span>Clients</span>
                Says?</h2>

        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <!-- Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <!-- Item-1 -->
                            <div class="carousel-item active text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3>Alamin Musa</h3>
                               
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>
                            <!-- Item-2 -->
                            <div class="carousel-item text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3>Alamin Musa</h3>
                               
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>
                            <!-- Item-3 -->
                            <div class="carousel-item text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3>Alamin Musa</h3>
                               
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>

                        </div>
                        <a
                            class="carousel-control-prev control"
                            data-target="#carouselExampleIndicators"
                            role="button"
                            data-slide="prev">
                            <span class="fa fa-angle-left icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a
                            class="carousel-control-next control"
                            data-target="#carouselExampleIndicators"
                            role="button"
                            data-slide="next">
                            <span class="fa fa-angle-right icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
