<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="body">
<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>ProductName</h1>
                 <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                    </div>
                    <br>
                <a routerLink="/profile">user name</a>

            </div>
            <div class="col-md-3 text-right pqr">
                  <button type="button" class="btn btn-outline-warning"routerLink="/home" >GoBack</button>
            </div>

            <!--<p class="text-right para">Based on 250 Review</p>-->
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
</svg>-->
 <div class="like-icon-div">
                <label for ="card-2-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-2-like">

                    <i class="far fa-heart heart-empty"></i>
                    <i class="fas fa-heart heart-fill"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li></li>
                    <li>aaaaaa</li>
                     <li> Materiels:         <div class="mt-1 mb-1 spec-1">
                    <span>100% plastic</span>
                    <span class="dot"></span>
                    <span>Light weight</span>
                    <span class="dot"></span>
                    <span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1">
                    <span>Unique design</span>
                    <span class="dot"></span>
                    <span>simple<br></span>
                    </div>
                    </li>
                    <li>Easy Returns</li>
                    <li>12 Months Warranty</li>
                    <li>EMI Starting from (On Credit Cards)</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>
                    <li>COD Available (All Over India)</li>
                </ul>
            </div>
            <div class="col-md-7"> <img src="assets/images/profile2.webp" width="80%" height="85%"> </div>
        </div>
    </div>


 <h1>Comments</h1>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-6">
                <div class="box box-widget">

                    <div class="box-footer box-comments">
                        <div class="box-comment">
                         <img class="img-circle img-sm" src="https://img.icons8.com/office/36/000000/person-female.png" alt="User Image">
                            <div class="comment-text">
                            <span class="username"> eya
                            <span class="text-muted pull-right">8:03 PM Today</span> </span> Love it! ❤ </div>
                        </div>
                        <div class="box-comment">
                        <img class="img-circle img-sm" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="User Image">
                            <div class="comment-text">
                            <span class="username"> ahmed <span class="text-muted pull-right">8:03 PM Today</span> </span>
                                très joli.
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <form action="#" method="post"> <img class="img-responsive img-circle img-sm" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="Alt Text">
                            <div class="img-push"> <input type="text" class="form-control input-sm" placeholder="Press enter to post comment"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt"><a routerLink="/details">Description</a></div>
            <div class="col-md-2 myt  des"><a routerLink="/comments">Comments</a></div>

  <div class="col-md-3 ml-1">
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-outline-warning mr-2" type="submit">Add ToWishList</button>
                <button class="btn btn-outline-warning mr-5" type="button" routerLink="#">BUY NOW</button>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

